{
  "root": true,
  "extends": "vue",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "space-before-function-paren": "off",
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn"
  }
}