.cp__wrapper {
  width: 250px;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: Menlo, 'Microsoft Yahei', sans-serif;
  user-select: none;
}

.cp__v-ctrl {
  position: relative;
}

.cp__thumb {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  border-radius: 50%;
  margin-top: -1px;
  transform: translateX(-50%);
  background-color: #f8f8f8;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.368627);
  cursor: default;
}


.cp__saturation {
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  border-radius: 2px 2px 0 0;
  overflow: hidden;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }


  & > .msk-white {
    background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
  }

  & > .msk-black {
    background: linear-gradient(0deg, #000, transparent);
  }

  & > .cp__thumb {
    background-color: transparent;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 2px rgba(0, 0, 0, 0.4);
  }
}


.cp__ctrl-pane {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 16px 12px;

  & > div {
    display: flex;
    align-items: center;
  }
}


.cp__tracks {
  flex: 1 0 0;
}

.cp__ctrl-bar {
  height: 10px;
}

.cp__ctrl-hue {
  background: linear-gradient(-90deg, red, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red);
}

.cp__ctrl-alpha {
  margin-top: 8px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==) left center;
}

.cp__preview {
  position: relative;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 50%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGAQYcAP3uCTZhw1gGGYhAGBZIA/nYDCgBDAm9BGDWAAJyRCgLaBCAAgXwixzAS0pgAAAABJRU5ErkJggg==) center;

  & > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    box-sizing: border-box;
  }
}

.cp__fm-fields {
  display: flex;
  flex: 1;

  & input {
    width: 100%;
    height: 22px;
    font-size: 11px;
    text-align: center;
    color: rgb(51, 51, 51);
    border-radius: 2px;
    border: none;
    box-shadow: rgb(218, 218, 218) 0px 0px 0px 1px inset;
    transition: box-shadow 0.2s ease;
    -moz-appearance: textfield;

    &:focus {
      outline: 0;
      box-shadow: rgb(0, 125, 255) 0px 0px 0px 1px inset;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0;
    }
  }

  & span {
    display: block;
    margin-top: 12px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 11px;
    color: rgb(150, 150, 150);
    text-align: center;
  }
}

/* color format switcher */
.cp__fm-switcher {
  position: relative;
  width: 32px;
  text-align: right;

  & > div {
    position: relative;
    margin-right: -4px;
    margin-top: 12px;
    cursor: pointer;

    & > svg {
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background: transparent;
      border: 1px solid transparent;

      &:hover {
        border-color: rgb(238, 238, 238);
        background: rgb(238, 238, 238)
      }
    }
  }
}
